.vs/llvm-kmd/CopilotIndices/17.14.1518.61961/CodeChunks.db
.vs/llvm-kmd/CopilotIndices/17.14.1518.61961/CodeChunks.db-shm
.vs/llvm-kmd/CopilotIndices/17.14.1518.61961/CodeChunks.db-wal
.vs/llvm-kmd/CopilotIndices/17.14.1518.61961/SemanticSymbols.db
.vs/llvm-kmd/CopilotIndices/17.14.1518.61961/SemanticSymbols.db-shm
.vs/llvm-kmd/CopilotIndices/17.14.1518.61961/SemanticSymbols.db-wal
.vs/llvm-kmd/FileContentIndex/a8a88459-0361-4ce0-a60e-e17388262377.vsidx
.vs/llvm-kmd/v17/.suo
.vs/llvm-kmd/v17/Browse.VC.db
.vs/llvm-kmd/v17/Browse.VC.db-shm
.vs/llvm-kmd/v17/Browse.VC.db-wal
.vs/llvm-kmd/v17/Browse.VC.opendb
.vs/llvm-kmd/v17/DocumentLayout.json
.vs/llvm-kmd/v17/ipch/AutoPCH/6bad1b0afd3c3386/MAIN.ipch
llvm-kmd/x64/Debug/basics.obj
llvm-kmd/x64/Debug/cpuid.obj
llvm-kmd/x64/Debug/entry.obj
llvm-kmd/x64/Debug/llvm-kmd.log
llvm-kmd/x64/Debug/llvm-kmd.sys.recipe
llvm-kmd/x64/Debug/llvm-kmd.tlog/Cl.items.tlog
llvm-kmd/x64/Debug/llvm-kmd.tlog/clang-cl.1092.write.1.tlog
llvm-kmd/x64/Debug/llvm-kmd.tlog/clang-cl.command.1.tlog
llvm-kmd/x64/Debug/llvm-kmd.tlog/clang-cl.read.1.tlog
llvm-kmd/x64/Debug/llvm-kmd.tlog/lld-link.command.1.tlog
llvm-kmd/x64/Debug/llvm-kmd.tlog/lld-link.read.1.tlog
llvm-kmd/x64/Debug/llvm-kmd.tlog/lld-link.secondary.1.tlog
llvm-kmd/x64/Debug/llvm-kmd.tlog/lld-link.write.1.tlog
llvm-kmd/x64/Debug/llvm-kmd.tlog/llvm-kmd.lastbuildstate
llvm-kmd/x64/Debug/Main.obj
llvm-kmd/x64/Debug/msr.obj
llvm-kmd/x64/Debug/utils.obj
llvm-kmd/x64/Debug/vcpkg.applocal.log
x64/Debug/llvm-kmd.lib
x64/Debug/llvm-kmd.pdb
x64/Debug/llvm-kmd.sys
.vs/llvm-kmd/v17/DocumentLayout.backup.json
/.vs
/llvm-kmd/x64
/llvm-kmd/x64
llvm-kmd/x64/Debug/llvm-kmd.tlog/clang-cl.write.1.tlog
